@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
  font-family: 'Open Sans', light;
  margin: 0;
  width: 100%;
}
h1, h2 {
  font-family: 'Rock Salt', cursive;
  margin: 0;
}
h1 {
  float: right;
  margin-right: 50%;
  margin-top: 4%;
}

img {
margin-top: 2%;
border: 3px dashed #00aeef;
}
input {

}
button {
border-radius: 5px;
}
nav ul {

}
nav ul li {
margin-left: : 5%;
display: inline-block;
padding: 20px;
background-color: #77CCEE;
}
.header {
background-color: #77CCEE;

}
.header h1 {

}
.footer {
margin-left: 5%;
background-color: #ddd;
margin-top: 20px;
min-height: 200px;
padding-top: 20px;
}
.content {
margin-left: 5%;

}
.row {
margin-left: 5%;
}
.column {
margin-left: 5%;
display: inline-block;
margin-right: 20px;
vertical-align: top;
width: 30%;
}
.note {
min-height: 200px;
background-color: #4267b1;
border: 1px solid transparent;
color: #fff;
padding: 10px 20px;
}
.request {
min-height: 200px;
border: 1px solid #ddd;
padding: 10px 20px;
float: right;
}
